//  ----------------------------------------------------------------------
//  =COLUMNS
//  ----------------------------------------------------------------------
@mixin is-cols($gutter: $gutter) {
    margin-right: -$gutter/2 !important; margin-left: -$gutter/2 !important; @include cf;
}

@mixin col {
    min-height: 1px;
}

.cols { @include is-cols($gutter); }
.cols > [class*="col-"] { @include col; float: left; padding-right: $gutter/2; padding-left: $gutter/2; }
.cols-rev > [class*="col-"] { @include col; float: right; }


@mixin generate-cols($cols, $bp: '') {
    @for $i from 2 through $cols {
        @if $i == 2 {
            .col-#{$bp}-1 { width: 100%; }
        }

        @for $x from 1 through $i {
            @if $bp == '' {
                .col-#{$x}-#{$i} { width: w($x,$i); }
            } @else {
                .col-#{$bp}-#{$x}-#{$i} { width: w($x,$i); }
            }
        }
    }
}

@each $bp in $bps {
    @if nth($bp,1)== "full" {
        @include generate-cols($cols-total);
    } @else {
        @media (max-width: nth($bp,2)) {
            @include generate-cols($cols-total, nth($bp,1));
        }
    }
}


@mixin col($gutter: $gutter) {
    > [class*="col-"] { padding-right: $gutter/2; padding-left: $gutter/2; }
}

@mixin cols($gutter: $gutter) {
    .cols {
        @include is-cols($gutter);
        @include col($gutter);
    }
}

@mixin cols-this($gutter: $gutter) {
    @include is-cols($gutter);
    @include col($gutter);
}

@mixin reset-cols {
    .cols { margin-right: 0 !important; margin-left: 0 !important; }
    [class*="col-"] { width: auto !important; float: none !important; padding-right: 0 !important; padding-left: 0 !important; }
}




//  ----------------------------------------------------------------------
//  =COLUMNS - FIXED
//  ----------------------------------------------------------------------
@mixin col-reset {
    width: auto; float: none; margin: 0;
}

.cols-fixed .col-fixed { float: right; }

@mixin generate-cols-fixed($cols-total) {
    @for $i from 1 through $cols-total {
        @for $cols from 1 through $cols-total {
            @if ($cols < $cols-total) {
                $ratio: $cols / $cols-total;
                $sidebar-total: $full - $full * $ratio;
                $width: $full - $sidebar-total;

                > .col-#{$cols}-#{$cols-total} { width: auto; margin-right: $sidebar-total; }

                .col-fixed.col-#{$cols}-#{$cols-total} { width: $width; margin-right: 0; margin-left: -$width; }
            }
        }

        $cols-total: $cols-total - 1;
    }

    @each $bp in $bps {
        .cols-fixed-#{nth($bp,1)} {
            @media (max-width: nth($bp,2)) {
                > [class*="col-"] { @include col-reset; }
                > .col-fixed { @include col-reset; margin: $gutter-v 0 0; }
            }
        }
    }
}


@include generate-cols-fixed($cols-fixed-total);




//  ----------------------------------------------------------------------
//  =COLUMN - SOLO
//  ----------------------------------------------------------------------
[class*="col-"].col-solo { width: auto; }

@mixin generate-cols-solo($cols-total) {
    @for $i from 1 through $cols-total {
        @for $cols from 1 through $cols-total {
            @if ($cols < $cols-total) {
                .col-#{$cols}-#{$cols-total}.col-solo { max-width: $full / $cols-total * $cols; }
            }
        }

        $cols-total: $cols-total - 1;
    }
}

@include generate-cols-solo($cols-total);




//  ----------------------------------------------------------------------
//  =CSS COLUMNS
//  ----------------------------------------------------------------------
@mixin cols-css($cols, $gutter: $gutter) {
    @include column-count($cols);
    @include column-gap($gutter);
}

@for $i from 1 through $cols-css-total {
    .cols-#{$i} { @include cols-css($i); }
}

@mixin col-unit {
    /*width: 100%;*/ break-inside: avoid; /*display: inline-block;*/
}
.col-unit { @include col-unit; }




//  ----------------------------------------------------------------------
//  =SECTIONS
//  ----------------------------------------------------------------------
@each $bp in $bps {
    .section-#{nth($bp,1)} {
        @include mq(#{nth($bp,2)}) { margin: 0 0 $gutter-v; }
    }
}