//  ----------------------------------------------------------------------
//  =COLUMNS
//  ----------------------------------------------------------------------

@mixin cols($gutter: $gutter) {
  margin-right: -$gutter / 2; margin-left:  -$gutter / 2;
}

@mixin col($gutter: $grid-gutter) {
  padding: 0 ($gutter / 2);
}

@mixin generate-cols($gutter: $gutter) {
  @include cols($gutter);

  > [class*="col-"] {
    @include col($gutter);
  }
}

@mixin reset-cols {
  margin-right: 0; margin-left: 0;

  > [class*="col-"] { width: auto; float: none; padding-right: 0; padding-left: 0; }
}


.cols {
  @include cols($gutter);
  @include cf;

  > [class*="col-"] {
    @include col($gutter);
    min-height: 1px; float: left;
  }
}

.cols-rev > [class*="col-"] { float: right; }


@mixin generate-all-cols($cols, $bp: '') {
  @for $i from 2 through $cols {
    @if $i == 2 {
      .col-#{$bp}-1 { width: 100%; }
    }

    @for $x from 1 through $i {
      @if $bp == '' {
        .col-#{$x}-#{$i} { width: w($x,$i); }
      } @else {
        .col-#{$bp}-#{$x}-#{$i} { width: w($x,$i); }
      }
    }
  }
}

@each $bp in $bps {
  @if nth($bp,1) == 'full' {
    @include generate-all-cols($cols-total);
  } @else {
    @include mq(nth($bp,2)) {
      @include generate-all-cols($cols-total, nth($bp,1));

      .cols-reset-#{nth($bp,1)} { @include reset-cols; }
    }
  }
}




//  ----------------------------------------------------------------------
//  =COLUMNS - FIXED
//  ----------------------------------------------------------------------

@mixin reset-col {
  width: auto; float: none; margin: 0;
}

.cols-fixed .col-fixed { float: right; }

@mixin generate-cols-fixed($cols-total) {
  @for $i from 1 through $cols-total {
    @for $cols from 1 through $cols-total {
      @if ($cols < $cols-total) {
        $ratio: $cols / $cols-total;
        $sidebar-total: $full - $full * $ratio;
        $width: $full - $sidebar-total;

        .col-#{$cols}-#{$cols-total} { width: auto; margin-right: $sidebar-total; }

        .col-fixed.col-#{$cols}-#{$cols-total} { width: $width; margin-right: 0; margin-left: -$width; }
      }
    }

    $cols-total: $cols-total - 1;
  }

  @each $bp in $bps {
    .cols-fixed-reset-#{nth($bp,1)} {
      @include mq(nth($bp,2)) {
        > [class*="col-"] { @include reset-col; }
        > .col-fixed { @include reset-col; margin: $gutter-v 0 0; }
      }
    }
  }
}

@include generate-cols-fixed($cols-fixed-total);




//  ----------------------------------------------------------------------
//  =COLUMN - SOLO
//  ----------------------------------------------------------------------

[class*="col-"].col-solo { width: auto; }

@mixin generate-cols-solo($cols-total) {
  @for $i from 1 through $cols-total {
    @for $cols from 1 through $cols-total {
      @if ($cols < $cols-total) {
        .col-#{$cols}-#{$cols-total}.col-solo { max-width: $full / $cols-total * $cols; }
      }
    }

    $cols-total: $cols-total - 1;
  }
}

@include generate-cols-solo($cols-total);




//  ----------------------------------------------------------------------
//  =COPY COLUMNS
//  ----------------------------------------------------------------------

@mixin cols-copy($cols, $gutter: $gutter) {
  @include column-count($cols);
  @include column-gap($gutter);
}

@mixin generate-cols-copy($cols, $bp: '') {
  @for $i from 1 through $cols {
    @if $bp == '' {
      .cols-#{$i} { @include cols-copy($i); }
    } @else {
      .cols-#{$bp}-#{$i} { @include column-count($i); }
    }
  }
}

@each $bp in $bps {
    @if nth($bp,1) == 'full' {
      @include generate-cols-copy($cols-copy-total);
    } @else {
        @include mq(nth($bp,2)) {
            @include generate-cols-copy($cols-copy-total, nth($bp,1));
        }
    }
}

@mixin col-unit {
  @include break-inside(avoid);
}
.col-unit { @include col-unit; }




//  ----------------------------------------------------------------------
//  =SECTIONS
//  ----------------------------------------------------------------------

@each $bp in $bps {
  .section-#{nth($bp,1)} {
    @include mq(nth($bp,2)) { margin: 0 0 $gutter-v; }
  }
}