@import "compass";
@import "reset";
@import "plugins";
@import "sass";
@import "grid";




//  ----------------------------------------------------------------------
//  =BASE
//  ----------------------------------------------------------------------
body, input, textarea, select, button { font-family: $fonts; /*-webkit-font-smoothing: antialiased;*/ }
body { color: $text; font-size: $font-size; line-height: 1; }

%h-base { color: $text; }
%h1 { @extend %h-base; }
%h2 { @extend %h-base; }
%h3 { @extend %h-base; }
%h4 { @extend %h-base; }
%h5 { @extend %h-base; }
%h6 { @extend %h-base; }
@for $i from 1 through 6 {
    h#{$i} { @extend %h#{$i}; }
}

p,
address,
blockquote,
figure { @include copy-block; }

img { max-width: 100%; height: auto; }

:first-child { margin-top: 0; }
:last-child { margin-bottom: 0; }


//  =FORMS
input,
textarea { @include placeholder($input-placeholder); }




//  ----------------------------------------------------------------------
//  =SCAFFOLDING
//  ----------------------------------------------------------------------
.container-main {
    .lt-ie9 & { width: $full; margin: auto; }
}

.container { margin: auto; padding-right: $gutter; padding-left: $gutter; }

.section { margin: 0 0 $gutter-v; }
.section:last-child { margin-bottom: 0; }  /* mixin? */

.content-main {  }




//  ----------------------------------------------------------------------
//  =COMPONENTS
//  ----------------------------------------------------------------------
//  =BUTTONS
.btn-primary {  }




//  ----------------------------------------------------------------------
//  =PARTIALS
//  ----------------------------------------------------------------------
//  =HEADER
.header-main {  }


//  =FOOTER
.footer-main {  }




//  ----------------------------------------------------------------------
//  =VIEWS
//  ----------------------------------------------------------------------
