@import 'compass'
      , 'reset'
      , 'plugin/*'
      , 'vars'
      , 'sass'
      , 'grid';




//  ----------------------------------------------------------------------
//  =BASE
//  ----------------------------------------------------------------------
body, input, textarea, select, button { font-family: $fonts; }
body, select, button { line-height: 1; }
body {
    color: $text; font-size: $font-size;
    .lt-ie9 & { width: $full; margin: auto; }
}

%h-base { color: $text; }
%h1 { @extend %h-base; }
%h2 { @extend %h-base; }
%h3 { @extend %h-base; }
%h4 { @extend %h-base; }
%h5 { @extend %h-base; }
%h6 { @extend %h-base; }
@for $i from 1 through 6 {
    h#{$i},
    .h#{$i} { @extend %h#{$i}; }
}

p,
address,
blockquote,
dl,
dd,
figure { @include copy-block; }

img { max-width: 100%; height: auto; }


//  =FORMS
input,
textarea { @include placeholder($placeholder); }




//  ----------------------------------------------------------------------
//  =SCAFFOLDING
//  ----------------------------------------------------------------------
.container { margin: auto; padding-right: $gutter; padding-left: $gutter; }

.section { margin: 0 0 $gutter-v; @include reset-margins; }

.content-main {  }




//  ----------------------------------------------------------------------
//  =COMPONENTS
//  ----------------------------------------------------------------------
//  =BUTTONS
.btn-primary {  }




//  ----------------------------------------------------------------------
//  =PARTIALS
//  ----------------------------------------------------------------------
//  =HEADER
.header-main {  }


//  =FOOTER
.footer-main {  }




//  ----------------------------------------------------------------------
//  =VIEWS
//  ----------------------------------------------------------------------
