<!doctype html>
<!--[if IE 8]>         <html lang="en" class="no-js ie ie8 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en" class="no-js ie ie9">        <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-js">               <!--<![endif]-->

<meta charset="utf-8">

<title>{% block title %}Boilerplate{% endblock %}</title>

<meta name="description" content="">
<meta name="author"      content="">

<meta property="og:site_name"   content="">
<meta property="og:url"         content="">
<meta property="og:title"       content="">
<meta property="og:description" content="">
<meta property="og:image"       content="">
<meta property="og:type"        content="">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 minimal-ui">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<link rel="stylesheet" href="/assets/css/style.css">

<script src="/assets/js/vendor/modernizr.min.js"></script>


<body class="{% block class %}{% endblock %}">
    <header id="header" class="header-main"></header>

    <main id="content" class="content-main">
        {% block content %}{% endblock %}
    </main>

    <footer id="footer" class="footer-main"></footer>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--[if lt IE 9]> <script src="/assets/js/polyfill/lt-ie9.min.js"></script> <![endif]-->
<script src="/assets/js/script.js"></script>

{% block js %}{% endblock %}

</body>
</html>