*, *:before, *:after {
  box-sizing: border-box;
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

audio, video, canvas {
  display: inline-block;
}

ul, ol {
  list-style: none;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

address {
  font-style: normal;
}

blockquote {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

iframe {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  /*outline: thin dotted;*/
  outline: 0;
}

a:hover, a:active {
  outline: 0;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

input, textarea, select, button {
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
}

label, button {
  cursor: pointer;
}

input, select {
  vertical-align: middle;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

textarea {
  border: 0;
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

button {
  color: inherit;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

small {
  font-size: 100%;
}

::-webkit-input-placeholder {
  text-overflow: ellipsis;
}

::-moz-placeholder {
  text-overflow: ellipsis;
}

:-moz-placeholder {
  text-overflow: ellipsis;
}

.btn-block {
  margin: 0 0 10px;
}

.btn-full {
  width: 100%;
  display: block;
  text-align: left;
}

.copy {
  /**/
  line-height: 1.35;
  /**/
}
.copy > li {
  line-height: 1.35;
}

.copy-block {
  line-height: 1.35;
  margin: 0 0 10px;
  /**/
}

.cf:before, .cf:after {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}

.hidden {
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.list-bulleted {
  list-style: disc;
  padding-left: 1.35em;
  /**/
}

.list-numbered {
  list-style: decimal;
  padding-left: 1.35em;
  /**/
}

.list-alpha {
  list-style: lower-alpha;
  padding-left: 1.35em;
  /**/
}

.ir {
  /**/
  /*background-color: transparent;*/
  border: 0;
  overflow: hidden;
}
.ir:before {
  content: '';
  width: 0;
  height: 150%;
  display: block;
}

.media-centered {
  /**/
  width: 100%;
  display: table;
}
.media-centered > .media-media,
.media-centered > .media-content {
  display: table-cell;
  vertical-align: middle;
}
.media-centered > .media-media {
  padding-right: 20px;
}
.media-centered > .media-media > img {
  max-width: none;
  display: block;
}
.media-centered > .media-content {
  width: 100%;
}
.media-centered.media-top > .media-content {
  vertical-align: top;
}
.media-centered.media-bottom > .media-content {
  vertical-align: bottom;
}

.placeholder {
  color: rgba(0, 0, 0, 0.75);
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: inherit;
}

@media (max-width: full) {
  .show-hide-full {
    display: none;
  }
}

@media (max-width: lt-full) {
  .show-hide-lt-full {
    display: none;
  }
}

@media (max-width: tablet) {
  .show-hide-tablet {
    display: none;
  }
}

@media (max-width: lt-tablet) {
  .show-hide-lt-tablet {
    display: none;
  }
}

@media (max-width: mobile) {
  .show-hide-mobile {
    display: none;
  }
}

@media (max-width: lt-mobile) {
  .show-hide-lt-mobile {
    display: none;
  }
}

@media (max-width: mobile-sm) {
  .show-hide-mobile-sm {
    display: none;
  }
}

.hide-show-full {
  display: none !important;
}
@media (max-width: full) {
  .hide-show-full {
    display: inherit !important;
  }
}

.hide-show-lt-full {
  display: none !important;
}
@media (max-width: lt-full) {
  .hide-show-lt-full {
    display: inherit !important;
  }
}

.hide-show-tablet {
  display: none !important;
}
@media (max-width: tablet) {
  .hide-show-tablet {
    display: inherit !important;
  }
}

.hide-show-lt-tablet {
  display: none !important;
}
@media (max-width: lt-tablet) {
  .hide-show-lt-tablet {
    display: inherit !important;
  }
}

.hide-show-mobile {
  display: none !important;
}
@media (max-width: mobile) {
  .hide-show-mobile {
    display: inherit !important;
  }
}

.hide-show-lt-mobile {
  display: none !important;
}
@media (max-width: lt-mobile) {
  .hide-show-lt-mobile {
    display: inherit !important;
  }
}

.hide-show-mobile-sm {
  display: none !important;
}
@media (max-width: mobile-sm) {
  .hide-show-mobile-sm {
    display: inherit !important;
  }
}

.cols {
  margin-right: -10px !important;
  margin-left: -10px !important;
}
.cols:before, .cols:after {
  content: ' ';
  display: table;
}
.cols:after {
  clear: both;
}

.cols > [class*="col-"] {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}

.cols-rev > [class*="col-"] {
  float: right;
}

.col--1 {
  width: 100%;
}

.col-1-2 {
  width: 50%;
}

.col-2-2 {
  width: 100%;
}

.col-1-3 {
  width: 33.33333%;
}

.col-2-3 {
  width: 66.66667%;
}

.col-3-3 {
  width: 100%;
}

.col-1-4 {
  width: 25%;
}

.col-2-4 {
  width: 50%;
}

.col-3-4 {
  width: 75%;
}

.col-4-4 {
  width: 100%;
}

.col-1-5 {
  width: 20%;
}

.col-2-5 {
  width: 40%;
}

.col-3-5 {
  width: 60%;
}

.col-4-5 {
  width: 80%;
}

.col-5-5 {
  width: 100%;
}

.col-1-6 {
  width: 16.66667%;
}

.col-2-6 {
  width: 33.33333%;
}

.col-3-6 {
  width: 50%;
}

.col-4-6 {
  width: 66.66667%;
}

.col-5-6 {
  width: 83.33333%;
}

.col-6-6 {
  width: 100%;
}

.col-1-7 {
  width: 14.28571%;
}

.col-2-7 {
  width: 28.57143%;
}

.col-3-7 {
  width: 42.85714%;
}

.col-4-7 {
  width: 57.14286%;
}

.col-5-7 {
  width: 71.42857%;
}

.col-6-7 {
  width: 85.71429%;
}

.col-7-7 {
  width: 100%;
}

.col-1-8 {
  width: 12.5%;
}

.col-2-8 {
  width: 25%;
}

.col-3-8 {
  width: 37.5%;
}

.col-4-8 {
  width: 50%;
}

.col-5-8 {
  width: 62.5%;
}

.col-6-8 {
  width: 75%;
}

.col-7-8 {
  width: 87.5%;
}

.col-8-8 {
  width: 100%;
}

.col-1-9 {
  width: 11.11111%;
}

.col-2-9 {
  width: 22.22222%;
}

.col-3-9 {
  width: 33.33333%;
}

.col-4-9 {
  width: 44.44444%;
}

.col-5-9 {
  width: 55.55556%;
}

.col-6-9 {
  width: 66.66667%;
}

.col-7-9 {
  width: 77.77778%;
}

.col-8-9 {
  width: 88.88889%;
}

.col-9-9 {
  width: 100%;
}

.col-1-10 {
  width: 10%;
}

.col-2-10 {
  width: 20%;
}

.col-3-10 {
  width: 30%;
}

.col-4-10 {
  width: 40%;
}

.col-5-10 {
  width: 50%;
}

.col-6-10 {
  width: 60%;
}

.col-7-10 {
  width: 70%;
}

.col-8-10 {
  width: 80%;
}

.col-9-10 {
  width: 90%;
}

.col-10-10 {
  width: 100%;
}

@media (max-width: 1279px) {
  .col-lt-full-1 {
    width: 100%;
  }

  .col-lt-full-1-2 {
    width: 50%;
  }

  .col-lt-full-2-2 {
    width: 100%;
  }

  .col-lt-full-1-3 {
    width: 33.33333%;
  }

  .col-lt-full-2-3 {
    width: 66.66667%;
  }

  .col-lt-full-3-3 {
    width: 100%;
  }

  .col-lt-full-1-4 {
    width: 25%;
  }

  .col-lt-full-2-4 {
    width: 50%;
  }

  .col-lt-full-3-4 {
    width: 75%;
  }

  .col-lt-full-4-4 {
    width: 100%;
  }

  .col-lt-full-1-5 {
    width: 20%;
  }

  .col-lt-full-2-5 {
    width: 40%;
  }

  .col-lt-full-3-5 {
    width: 60%;
  }

  .col-lt-full-4-5 {
    width: 80%;
  }

  .col-lt-full-5-5 {
    width: 100%;
  }

  .col-lt-full-1-6 {
    width: 16.66667%;
  }

  .col-lt-full-2-6 {
    width: 33.33333%;
  }

  .col-lt-full-3-6 {
    width: 50%;
  }

  .col-lt-full-4-6 {
    width: 66.66667%;
  }

  .col-lt-full-5-6 {
    width: 83.33333%;
  }

  .col-lt-full-6-6 {
    width: 100%;
  }

  .col-lt-full-1-7 {
    width: 14.28571%;
  }

  .col-lt-full-2-7 {
    width: 28.57143%;
  }

  .col-lt-full-3-7 {
    width: 42.85714%;
  }

  .col-lt-full-4-7 {
    width: 57.14286%;
  }

  .col-lt-full-5-7 {
    width: 71.42857%;
  }

  .col-lt-full-6-7 {
    width: 85.71429%;
  }

  .col-lt-full-7-7 {
    width: 100%;
  }

  .col-lt-full-1-8 {
    width: 12.5%;
  }

  .col-lt-full-2-8 {
    width: 25%;
  }

  .col-lt-full-3-8 {
    width: 37.5%;
  }

  .col-lt-full-4-8 {
    width: 50%;
  }

  .col-lt-full-5-8 {
    width: 62.5%;
  }

  .col-lt-full-6-8 {
    width: 75%;
  }

  .col-lt-full-7-8 {
    width: 87.5%;
  }

  .col-lt-full-8-8 {
    width: 100%;
  }

  .col-lt-full-1-9 {
    width: 11.11111%;
  }

  .col-lt-full-2-9 {
    width: 22.22222%;
  }

  .col-lt-full-3-9 {
    width: 33.33333%;
  }

  .col-lt-full-4-9 {
    width: 44.44444%;
  }

  .col-lt-full-5-9 {
    width: 55.55556%;
  }

  .col-lt-full-6-9 {
    width: 66.66667%;
  }

  .col-lt-full-7-9 {
    width: 77.77778%;
  }

  .col-lt-full-8-9 {
    width: 88.88889%;
  }

  .col-lt-full-9-9 {
    width: 100%;
  }

  .col-lt-full-1-10 {
    width: 10%;
  }

  .col-lt-full-2-10 {
    width: 20%;
  }

  .col-lt-full-3-10 {
    width: 30%;
  }

  .col-lt-full-4-10 {
    width: 40%;
  }

  .col-lt-full-5-10 {
    width: 50%;
  }

  .col-lt-full-6-10 {
    width: 60%;
  }

  .col-lt-full-7-10 {
    width: 70%;
  }

  .col-lt-full-8-10 {
    width: 80%;
  }

  .col-lt-full-9-10 {
    width: 90%;
  }

  .col-lt-full-10-10 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .col-tablet-1 {
    width: 100%;
  }

  .col-tablet-1-2 {
    width: 50%;
  }

  .col-tablet-2-2 {
    width: 100%;
  }

  .col-tablet-1-3 {
    width: 33.33333%;
  }

  .col-tablet-2-3 {
    width: 66.66667%;
  }

  .col-tablet-3-3 {
    width: 100%;
  }

  .col-tablet-1-4 {
    width: 25%;
  }

  .col-tablet-2-4 {
    width: 50%;
  }

  .col-tablet-3-4 {
    width: 75%;
  }

  .col-tablet-4-4 {
    width: 100%;
  }

  .col-tablet-1-5 {
    width: 20%;
  }

  .col-tablet-2-5 {
    width: 40%;
  }

  .col-tablet-3-5 {
    width: 60%;
  }

  .col-tablet-4-5 {
    width: 80%;
  }

  .col-tablet-5-5 {
    width: 100%;
  }

  .col-tablet-1-6 {
    width: 16.66667%;
  }

  .col-tablet-2-6 {
    width: 33.33333%;
  }

  .col-tablet-3-6 {
    width: 50%;
  }

  .col-tablet-4-6 {
    width: 66.66667%;
  }

  .col-tablet-5-6 {
    width: 83.33333%;
  }

  .col-tablet-6-6 {
    width: 100%;
  }

  .col-tablet-1-7 {
    width: 14.28571%;
  }

  .col-tablet-2-7 {
    width: 28.57143%;
  }

  .col-tablet-3-7 {
    width: 42.85714%;
  }

  .col-tablet-4-7 {
    width: 57.14286%;
  }

  .col-tablet-5-7 {
    width: 71.42857%;
  }

  .col-tablet-6-7 {
    width: 85.71429%;
  }

  .col-tablet-7-7 {
    width: 100%;
  }

  .col-tablet-1-8 {
    width: 12.5%;
  }

  .col-tablet-2-8 {
    width: 25%;
  }

  .col-tablet-3-8 {
    width: 37.5%;
  }

  .col-tablet-4-8 {
    width: 50%;
  }

  .col-tablet-5-8 {
    width: 62.5%;
  }

  .col-tablet-6-8 {
    width: 75%;
  }

  .col-tablet-7-8 {
    width: 87.5%;
  }

  .col-tablet-8-8 {
    width: 100%;
  }

  .col-tablet-1-9 {
    width: 11.11111%;
  }

  .col-tablet-2-9 {
    width: 22.22222%;
  }

  .col-tablet-3-9 {
    width: 33.33333%;
  }

  .col-tablet-4-9 {
    width: 44.44444%;
  }

  .col-tablet-5-9 {
    width: 55.55556%;
  }

  .col-tablet-6-9 {
    width: 66.66667%;
  }

  .col-tablet-7-9 {
    width: 77.77778%;
  }

  .col-tablet-8-9 {
    width: 88.88889%;
  }

  .col-tablet-9-9 {
    width: 100%;
  }

  .col-tablet-1-10 {
    width: 10%;
  }

  .col-tablet-2-10 {
    width: 20%;
  }

  .col-tablet-3-10 {
    width: 30%;
  }

  .col-tablet-4-10 {
    width: 40%;
  }

  .col-tablet-5-10 {
    width: 50%;
  }

  .col-tablet-6-10 {
    width: 60%;
  }

  .col-tablet-7-10 {
    width: 70%;
  }

  .col-tablet-8-10 {
    width: 80%;
  }

  .col-tablet-9-10 {
    width: 90%;
  }

  .col-tablet-10-10 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .col-lt-tablet-1 {
    width: 100%;
  }

  .col-lt-tablet-1-2 {
    width: 50%;
  }

  .col-lt-tablet-2-2 {
    width: 100%;
  }

  .col-lt-tablet-1-3 {
    width: 33.33333%;
  }

  .col-lt-tablet-2-3 {
    width: 66.66667%;
  }

  .col-lt-tablet-3-3 {
    width: 100%;
  }

  .col-lt-tablet-1-4 {
    width: 25%;
  }

  .col-lt-tablet-2-4 {
    width: 50%;
  }

  .col-lt-tablet-3-4 {
    width: 75%;
  }

  .col-lt-tablet-4-4 {
    width: 100%;
  }

  .col-lt-tablet-1-5 {
    width: 20%;
  }

  .col-lt-tablet-2-5 {
    width: 40%;
  }

  .col-lt-tablet-3-5 {
    width: 60%;
  }

  .col-lt-tablet-4-5 {
    width: 80%;
  }

  .col-lt-tablet-5-5 {
    width: 100%;
  }

  .col-lt-tablet-1-6 {
    width: 16.66667%;
  }

  .col-lt-tablet-2-6 {
    width: 33.33333%;
  }

  .col-lt-tablet-3-6 {
    width: 50%;
  }

  .col-lt-tablet-4-6 {
    width: 66.66667%;
  }

  .col-lt-tablet-5-6 {
    width: 83.33333%;
  }

  .col-lt-tablet-6-6 {
    width: 100%;
  }

  .col-lt-tablet-1-7 {
    width: 14.28571%;
  }

  .col-lt-tablet-2-7 {
    width: 28.57143%;
  }

  .col-lt-tablet-3-7 {
    width: 42.85714%;
  }

  .col-lt-tablet-4-7 {
    width: 57.14286%;
  }

  .col-lt-tablet-5-7 {
    width: 71.42857%;
  }

  .col-lt-tablet-6-7 {
    width: 85.71429%;
  }

  .col-lt-tablet-7-7 {
    width: 100%;
  }

  .col-lt-tablet-1-8 {
    width: 12.5%;
  }

  .col-lt-tablet-2-8 {
    width: 25%;
  }

  .col-lt-tablet-3-8 {
    width: 37.5%;
  }

  .col-lt-tablet-4-8 {
    width: 50%;
  }

  .col-lt-tablet-5-8 {
    width: 62.5%;
  }

  .col-lt-tablet-6-8 {
    width: 75%;
  }

  .col-lt-tablet-7-8 {
    width: 87.5%;
  }

  .col-lt-tablet-8-8 {
    width: 100%;
  }

  .col-lt-tablet-1-9 {
    width: 11.11111%;
  }

  .col-lt-tablet-2-9 {
    width: 22.22222%;
  }

  .col-lt-tablet-3-9 {
    width: 33.33333%;
  }

  .col-lt-tablet-4-9 {
    width: 44.44444%;
  }

  .col-lt-tablet-5-9 {
    width: 55.55556%;
  }

  .col-lt-tablet-6-9 {
    width: 66.66667%;
  }

  .col-lt-tablet-7-9 {
    width: 77.77778%;
  }

  .col-lt-tablet-8-9 {
    width: 88.88889%;
  }

  .col-lt-tablet-9-9 {
    width: 100%;
  }

  .col-lt-tablet-1-10 {
    width: 10%;
  }

  .col-lt-tablet-2-10 {
    width: 20%;
  }

  .col-lt-tablet-3-10 {
    width: 30%;
  }

  .col-lt-tablet-4-10 {
    width: 40%;
  }

  .col-lt-tablet-5-10 {
    width: 50%;
  }

  .col-lt-tablet-6-10 {
    width: 60%;
  }

  .col-lt-tablet-7-10 {
    width: 70%;
  }

  .col-lt-tablet-8-10 {
    width: 80%;
  }

  .col-lt-tablet-9-10 {
    width: 90%;
  }

  .col-lt-tablet-10-10 {
    width: 100%;
  }
}
@media (max-width: 568px) {
  .col-mobile-1 {
    width: 100%;
  }

  .col-mobile-1-2 {
    width: 50%;
  }

  .col-mobile-2-2 {
    width: 100%;
  }

  .col-mobile-1-3 {
    width: 33.33333%;
  }

  .col-mobile-2-3 {
    width: 66.66667%;
  }

  .col-mobile-3-3 {
    width: 100%;
  }

  .col-mobile-1-4 {
    width: 25%;
  }

  .col-mobile-2-4 {
    width: 50%;
  }

  .col-mobile-3-4 {
    width: 75%;
  }

  .col-mobile-4-4 {
    width: 100%;
  }

  .col-mobile-1-5 {
    width: 20%;
  }

  .col-mobile-2-5 {
    width: 40%;
  }

  .col-mobile-3-5 {
    width: 60%;
  }

  .col-mobile-4-5 {
    width: 80%;
  }

  .col-mobile-5-5 {
    width: 100%;
  }

  .col-mobile-1-6 {
    width: 16.66667%;
  }

  .col-mobile-2-6 {
    width: 33.33333%;
  }

  .col-mobile-3-6 {
    width: 50%;
  }

  .col-mobile-4-6 {
    width: 66.66667%;
  }

  .col-mobile-5-6 {
    width: 83.33333%;
  }

  .col-mobile-6-6 {
    width: 100%;
  }

  .col-mobile-1-7 {
    width: 14.28571%;
  }

  .col-mobile-2-7 {
    width: 28.57143%;
  }

  .col-mobile-3-7 {
    width: 42.85714%;
  }

  .col-mobile-4-7 {
    width: 57.14286%;
  }

  .col-mobile-5-7 {
    width: 71.42857%;
  }

  .col-mobile-6-7 {
    width: 85.71429%;
  }

  .col-mobile-7-7 {
    width: 100%;
  }

  .col-mobile-1-8 {
    width: 12.5%;
  }

  .col-mobile-2-8 {
    width: 25%;
  }

  .col-mobile-3-8 {
    width: 37.5%;
  }

  .col-mobile-4-8 {
    width: 50%;
  }

  .col-mobile-5-8 {
    width: 62.5%;
  }

  .col-mobile-6-8 {
    width: 75%;
  }

  .col-mobile-7-8 {
    width: 87.5%;
  }

  .col-mobile-8-8 {
    width: 100%;
  }

  .col-mobile-1-9 {
    width: 11.11111%;
  }

  .col-mobile-2-9 {
    width: 22.22222%;
  }

  .col-mobile-3-9 {
    width: 33.33333%;
  }

  .col-mobile-4-9 {
    width: 44.44444%;
  }

  .col-mobile-5-9 {
    width: 55.55556%;
  }

  .col-mobile-6-9 {
    width: 66.66667%;
  }

  .col-mobile-7-9 {
    width: 77.77778%;
  }

  .col-mobile-8-9 {
    width: 88.88889%;
  }

  .col-mobile-9-9 {
    width: 100%;
  }

  .col-mobile-1-10 {
    width: 10%;
  }

  .col-mobile-2-10 {
    width: 20%;
  }

  .col-mobile-3-10 {
    width: 30%;
  }

  .col-mobile-4-10 {
    width: 40%;
  }

  .col-mobile-5-10 {
    width: 50%;
  }

  .col-mobile-6-10 {
    width: 60%;
  }

  .col-mobile-7-10 {
    width: 70%;
  }

  .col-mobile-8-10 {
    width: 80%;
  }

  .col-mobile-9-10 {
    width: 90%;
  }

  .col-mobile-10-10 {
    width: 100%;
  }
}
@media (max-width: 567px) {
  .col-lt-mobile-1 {
    width: 100%;
  }

  .col-lt-mobile-1-2 {
    width: 50%;
  }

  .col-lt-mobile-2-2 {
    width: 100%;
  }

  .col-lt-mobile-1-3 {
    width: 33.33333%;
  }

  .col-lt-mobile-2-3 {
    width: 66.66667%;
  }

  .col-lt-mobile-3-3 {
    width: 100%;
  }

  .col-lt-mobile-1-4 {
    width: 25%;
  }

  .col-lt-mobile-2-4 {
    width: 50%;
  }

  .col-lt-mobile-3-4 {
    width: 75%;
  }

  .col-lt-mobile-4-4 {
    width: 100%;
  }

  .col-lt-mobile-1-5 {
    width: 20%;
  }

  .col-lt-mobile-2-5 {
    width: 40%;
  }

  .col-lt-mobile-3-5 {
    width: 60%;
  }

  .col-lt-mobile-4-5 {
    width: 80%;
  }

  .col-lt-mobile-5-5 {
    width: 100%;
  }

  .col-lt-mobile-1-6 {
    width: 16.66667%;
  }

  .col-lt-mobile-2-6 {
    width: 33.33333%;
  }

  .col-lt-mobile-3-6 {
    width: 50%;
  }

  .col-lt-mobile-4-6 {
    width: 66.66667%;
  }

  .col-lt-mobile-5-6 {
    width: 83.33333%;
  }

  .col-lt-mobile-6-6 {
    width: 100%;
  }

  .col-lt-mobile-1-7 {
    width: 14.28571%;
  }

  .col-lt-mobile-2-7 {
    width: 28.57143%;
  }

  .col-lt-mobile-3-7 {
    width: 42.85714%;
  }

  .col-lt-mobile-4-7 {
    width: 57.14286%;
  }

  .col-lt-mobile-5-7 {
    width: 71.42857%;
  }

  .col-lt-mobile-6-7 {
    width: 85.71429%;
  }

  .col-lt-mobile-7-7 {
    width: 100%;
  }

  .col-lt-mobile-1-8 {
    width: 12.5%;
  }

  .col-lt-mobile-2-8 {
    width: 25%;
  }

  .col-lt-mobile-3-8 {
    width: 37.5%;
  }

  .col-lt-mobile-4-8 {
    width: 50%;
  }

  .col-lt-mobile-5-8 {
    width: 62.5%;
  }

  .col-lt-mobile-6-8 {
    width: 75%;
  }

  .col-lt-mobile-7-8 {
    width: 87.5%;
  }

  .col-lt-mobile-8-8 {
    width: 100%;
  }

  .col-lt-mobile-1-9 {
    width: 11.11111%;
  }

  .col-lt-mobile-2-9 {
    width: 22.22222%;
  }

  .col-lt-mobile-3-9 {
    width: 33.33333%;
  }

  .col-lt-mobile-4-9 {
    width: 44.44444%;
  }

  .col-lt-mobile-5-9 {
    width: 55.55556%;
  }

  .col-lt-mobile-6-9 {
    width: 66.66667%;
  }

  .col-lt-mobile-7-9 {
    width: 77.77778%;
  }

  .col-lt-mobile-8-9 {
    width: 88.88889%;
  }

  .col-lt-mobile-9-9 {
    width: 100%;
  }

  .col-lt-mobile-1-10 {
    width: 10%;
  }

  .col-lt-mobile-2-10 {
    width: 20%;
  }

  .col-lt-mobile-3-10 {
    width: 30%;
  }

  .col-lt-mobile-4-10 {
    width: 40%;
  }

  .col-lt-mobile-5-10 {
    width: 50%;
  }

  .col-lt-mobile-6-10 {
    width: 60%;
  }

  .col-lt-mobile-7-10 {
    width: 70%;
  }

  .col-lt-mobile-8-10 {
    width: 80%;
  }

  .col-lt-mobile-9-10 {
    width: 90%;
  }

  .col-lt-mobile-10-10 {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .col-mobile-sm-1 {
    width: 100%;
  }

  .col-mobile-sm-1-2 {
    width: 50%;
  }

  .col-mobile-sm-2-2 {
    width: 100%;
  }

  .col-mobile-sm-1-3 {
    width: 33.33333%;
  }

  .col-mobile-sm-2-3 {
    width: 66.66667%;
  }

  .col-mobile-sm-3-3 {
    width: 100%;
  }

  .col-mobile-sm-1-4 {
    width: 25%;
  }

  .col-mobile-sm-2-4 {
    width: 50%;
  }

  .col-mobile-sm-3-4 {
    width: 75%;
  }

  .col-mobile-sm-4-4 {
    width: 100%;
  }

  .col-mobile-sm-1-5 {
    width: 20%;
  }

  .col-mobile-sm-2-5 {
    width: 40%;
  }

  .col-mobile-sm-3-5 {
    width: 60%;
  }

  .col-mobile-sm-4-5 {
    width: 80%;
  }

  .col-mobile-sm-5-5 {
    width: 100%;
  }

  .col-mobile-sm-1-6 {
    width: 16.66667%;
  }

  .col-mobile-sm-2-6 {
    width: 33.33333%;
  }

  .col-mobile-sm-3-6 {
    width: 50%;
  }

  .col-mobile-sm-4-6 {
    width: 66.66667%;
  }

  .col-mobile-sm-5-6 {
    width: 83.33333%;
  }

  .col-mobile-sm-6-6 {
    width: 100%;
  }

  .col-mobile-sm-1-7 {
    width: 14.28571%;
  }

  .col-mobile-sm-2-7 {
    width: 28.57143%;
  }

  .col-mobile-sm-3-7 {
    width: 42.85714%;
  }

  .col-mobile-sm-4-7 {
    width: 57.14286%;
  }

  .col-mobile-sm-5-7 {
    width: 71.42857%;
  }

  .col-mobile-sm-6-7 {
    width: 85.71429%;
  }

  .col-mobile-sm-7-7 {
    width: 100%;
  }

  .col-mobile-sm-1-8 {
    width: 12.5%;
  }

  .col-mobile-sm-2-8 {
    width: 25%;
  }

  .col-mobile-sm-3-8 {
    width: 37.5%;
  }

  .col-mobile-sm-4-8 {
    width: 50%;
  }

  .col-mobile-sm-5-8 {
    width: 62.5%;
  }

  .col-mobile-sm-6-8 {
    width: 75%;
  }

  .col-mobile-sm-7-8 {
    width: 87.5%;
  }

  .col-mobile-sm-8-8 {
    width: 100%;
  }

  .col-mobile-sm-1-9 {
    width: 11.11111%;
  }

  .col-mobile-sm-2-9 {
    width: 22.22222%;
  }

  .col-mobile-sm-3-9 {
    width: 33.33333%;
  }

  .col-mobile-sm-4-9 {
    width: 44.44444%;
  }

  .col-mobile-sm-5-9 {
    width: 55.55556%;
  }

  .col-mobile-sm-6-9 {
    width: 66.66667%;
  }

  .col-mobile-sm-7-9 {
    width: 77.77778%;
  }

  .col-mobile-sm-8-9 {
    width: 88.88889%;
  }

  .col-mobile-sm-9-9 {
    width: 100%;
  }

  .col-mobile-sm-1-10 {
    width: 10%;
  }

  .col-mobile-sm-2-10 {
    width: 20%;
  }

  .col-mobile-sm-3-10 {
    width: 30%;
  }

  .col-mobile-sm-4-10 {
    width: 40%;
  }

  .col-mobile-sm-5-10 {
    width: 50%;
  }

  .col-mobile-sm-6-10 {
    width: 60%;
  }

  .col-mobile-sm-7-10 {
    width: 70%;
  }

  .col-mobile-sm-8-10 {
    width: 80%;
  }

  .col-mobile-sm-9-10 {
    width: 90%;
  }

  .col-mobile-sm-10-10 {
    width: 100%;
  }
}
.cols-fixed .col-fixed {
  float: right;
}
.cols-fixed > .col-1-4 {
  width: auto;
  margin-right: 960px;
}
.cols-fixed .col-fixed.col-1-4 {
  width: 320px;
  margin-right: 0;
  margin-left: -320px;
}
.cols-fixed > .col-2-4 {
  width: auto;
  margin-right: 640px;
}
.cols-fixed .col-fixed.col-2-4 {
  width: 640px;
  margin-right: 0;
  margin-left: -640px;
}
.cols-fixed > .col-3-4 {
  width: auto;
  margin-right: 320px;
}
.cols-fixed .col-fixed.col-3-4 {
  width: 960px;
  margin-right: 0;
  margin-left: -960px;
}
.cols-fixed > .col-1-3 {
  width: auto;
  margin-right: 853.33333px;
}
.cols-fixed .col-fixed.col-1-3 {
  width: 426.66667px;
  margin-right: 0;
  margin-left: -426.66667px;
}
.cols-fixed > .col-2-3 {
  width: auto;
  margin-right: 426.66667px;
}
.cols-fixed .col-fixed.col-2-3 {
  width: 853.33333px;
  margin-right: 0;
  margin-left: -853.33333px;
}
.cols-fixed > .col-1-2 {
  width: auto;
  margin-right: 640px;
}
.cols-fixed .col-fixed.col-1-2 {
  width: 640px;
  margin-right: 0;
  margin-left: -640px;
}
@media (max-width: 1280px) {
  .cols-fixed .cols-fixed-full > [class*="col-"] {
    width: auto;
    float: none;
    margin: 0;
  }
  .cols-fixed .cols-fixed-full > .col-fixed {
    width: auto;
    float: none;
    margin: 0;
    margin: 50px 0 0;
  }
}
@media (max-width: 1279px) {
  .cols-fixed .cols-fixed-lt-full > [class*="col-"] {
    width: auto;
    float: none;
    margin: 0;
  }
  .cols-fixed .cols-fixed-lt-full > .col-fixed {
    width: auto;
    float: none;
    margin: 0;
    margin: 50px 0 0;
  }
}
@media (max-width: 768px) {
  .cols-fixed .cols-fixed-tablet > [class*="col-"] {
    width: auto;
    float: none;
    margin: 0;
  }
  .cols-fixed .cols-fixed-tablet > .col-fixed {
    width: auto;
    float: none;
    margin: 0;
    margin: 50px 0 0;
  }
}
@media (max-width: 767px) {
  .cols-fixed .cols-fixed-lt-tablet > [class*="col-"] {
    width: auto;
    float: none;
    margin: 0;
  }
  .cols-fixed .cols-fixed-lt-tablet > .col-fixed {
    width: auto;
    float: none;
    margin: 0;
    margin: 50px 0 0;
  }
}
@media (max-width: 568px) {
  .cols-fixed .cols-fixed-mobile > [class*="col-"] {
    width: auto;
    float: none;
    margin: 0;
  }
  .cols-fixed .cols-fixed-mobile > .col-fixed {
    width: auto;
    float: none;
    margin: 0;
    margin: 50px 0 0;
  }
}
@media (max-width: 567px) {
  .cols-fixed .cols-fixed-lt-mobile > [class*="col-"] {
    width: auto;
    float: none;
    margin: 0;
  }
  .cols-fixed .cols-fixed-lt-mobile > .col-fixed {
    width: auto;
    float: none;
    margin: 0;
    margin: 50px 0 0;
  }
}
@media (max-width: 320px) {
  .cols-fixed .cols-fixed-mobile-sm > [class*="col-"] {
    width: auto;
    float: none;
    margin: 0;
  }
  .cols-fixed .cols-fixed-mobile-sm > .col-fixed {
    width: auto;
    float: none;
    margin: 0;
    margin: 50px 0 0;
  }
}

[class*="col-"].col-solo {
  width: auto;
}

.col-1-4.col-solo {
  max-width: 320px;
}

.col-2-4.col-solo {
  max-width: 640px;
}

.col-3-4.col-solo {
  max-width: 960px;
}

.col-1-3.col-solo {
  max-width: 426.66667px;
}

.col-2-3.col-solo {
  max-width: 853.33333px;
}

.col-1-2.col-solo {
  max-width: 640px;
}

.cols-1 {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -ms-column-count: 1;
  -o-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  -ms-column-gap: 20px;
  -o-column-gap: 20px;
  column-gap: 20px;
}

.cols-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  -ms-column-gap: 20px;
  -o-column-gap: 20px;
  column-gap: 20px;
}

.cols-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  -ms-column-gap: 20px;
  -o-column-gap: 20px;
  column-gap: 20px;
}

.cols-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  -o-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  -ms-column-gap: 20px;
  -o-column-gap: 20px;
  column-gap: 20px;
}

@media (max-width: 1280px) {
  .section-full {
    margin: 0 0 50px;
  }
}

@media (max-width: 1279px) {
  .section-lt-full {
    margin: 0 0 50px;
  }
}

@media (max-width: 768px) {
  .section-tablet {
    margin: 0 0 50px;
  }
}

@media (max-width: 767px) {
  .section-lt-tablet {
    margin: 0 0 50px;
  }
}

@media (max-width: 568px) {
  .section-mobile {
    margin: 0 0 50px;
  }
}

@media (max-width: 567px) {
  .section-lt-mobile {
    margin: 0 0 50px;
  }
}

@media (max-width: 320px) {
  .section-mobile-sm {
    margin: 0 0 50px;
  }
}

body, input, textarea, select, button {
  font-family: helvetica neue, helvetica, arial, sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
}

body {
  color: black;
  font-size: 13px;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

p,
address,
blockquote,
figure {
  line-height: 1.35;
  margin: 0 0 10px;
  /**/
}

img {
  max-width: 100%;
  height: auto;
}

:first-child {
  margin-top: 0;
}

:last-child {
  margin-bottom: 0;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: rgba(0, 0, 0, 0.75);
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.75);
}

.lt-ie9 .container-main {
  width: 1280px;
  margin: auto;
}

.container {
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.section {
  margin: 0 0 50px;
}

.section:last-child {
  margin-bottom: 0;
}

/* mixin? */
