{% block class %}_home{% endblock %}


{% block content %}

<div class="cols">
    <div class="col-1-3">
        test
    </div>

    <div class="col-1-3">
        it
    </div>

    <div class="col-1-3">
        out
    </div>
</div>

{% endblock %}