{% block class %}_home{% endblock %}


{% block content %}

<div class="cols">
    <div class="col-1-3">
        test
    </div>

    <div class="col-1-3">
        it
    </div>

    <div class="col-1-3">
        out
    </div>
</div>


<div class="cols cols-fixed">
    <div class="col-2-3">
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
    </div>

    <div class="col-1-3 col-fixed">
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum.
    </div>
</div>

<div class="cols cols-fixed">
    <div class="col-1-2">
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
    </div>

    <div class="col-1-2 col-fixed">
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum.
    </div>
</div>

<div class="cols cols-fixed">
    <div class="col-1-4">
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
    </div>

    <div class="col-3-4 col-fixed">
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum.
    </div>
</div>

<div class="cols cols-fixed">
    <div class="col-3-4">
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
    </div>

    <div class="col-1-4 col-fixed">
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum.
    </div>
</div>

{% endblock %}